$darkTurquoise:  #0F6177;
$medTurquoise:   #0B8389;
$lightTurquoise: #1BA39C;
$darkGreen:      #16A086;
$lightGreen:     #1BBC9B;
$lightGray:      #f2f2f2;
$nearBlack:      #1a1a1a;
$darkerGray:     #262626;
$darkGray:       #4d4d4d;
$medGray:        #898989;

$placeholderPseudos: '::-webkit-input-placeholder', '::-moz-placeholder', ':-ms-input-placeholder', ':-moz-placeholder',
                     '::placeholder';

$iphone5Width: 320px;
