$darkTurquoise: #0f6177;
$medTurquoise: #0b8389;
$lightTurquoise: #1ba39c;
$darkGreen: #16a086;
$lightGreen: #1bbc9b;
$lightGray: #f2f2f2;
$nearBlack: #1a1a1a;
$darkerGray: #21201b;
$darkGray: #3f3430;
$medGray: #898989;
$white: #fff;

$darkBrown: #372c2e;
$highlight: #a57b43;
$burntOrange: #7a431d;
$brown: #563727;

$placeholderPseudos: '::-webkit-input-placeholder', '::-moz-placeholder', ':-ms-input-placeholder', ':-moz-placeholder',
  '::placeholder';

$headerPadding: 30px;
$headerHeight: 36px;
$menuToggleSize: 36px;
