$darkTurquoise: #0f6177;
$medTurquoise: #0b8389;
$lightTurquoise: #1ba39c;
$darkGreen: #16a086;
$lightGreen: #1bbc9b;
$lightGray: #f2f2f2;
$nearBlack: #1a1a1a;
$darkerGray: #21201b;
$darkGray: #3f3430;
$medGray: #898989;
$white: #fff;

$darkBrown: #372c2e;
$highlight: #a57b43;
$burntOrange: #7a431d;
$brown: #563727;

$frost: #dde2e3;
$lead: #9aacb8;
$burntAmber: #b37c57;
$nightfall: #3c455c;
$bark: #60412b;

$base: #3c455c;
$secondary: #5d72a8;
$menu: #69534e;
$action: #b58074;
$actionHover: darken(
  $color: $action,
  $amount: 5
);
$light: #dde2e3;

$placeholderPseudos: '::-webkit-input-placeholder', '::-moz-placeholder', ':-ms-input-placeholder', ':-moz-placeholder',
  '::placeholder';

$headerPadding: 30px;
$headerHeight: 36px;
$menuToggleSize: 36px;
