@import 'bootstrap';
@import 'font-awesome';

@import './variables';

body {
  text-rendering: optimizeLegibility;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.wf-loading {
  h1, h2, h4, p, i, li, span {
    opacity: 0;
  }
}

h1, h2, h4, p, i, li, span {
  transition-property: 'opacity';
  transition-duration: 150ms;
  transition-timing-function: ease-in;
}

header {
  padding: 40px 0 20px;
  color: #FFF;
  line-height: 1.1em;
  background-color: $medTurquoise;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

  .brand {
    font-size: 1.1em;
  }
}

section {
  padding: 40px 0;

  h1, h2, h4 {
    margin: 0;
    text-align: center;
  }

  h1 {
    font-size: 3.5em;
    font-weight: 300;
  }

  h2 {
    font-size: 1.75em;
    color: #000;
    font-weight: 400;
  }

  h4 {
    font-size: 1.1em;
    font-weight: 300;
  }

  p {
    font-weight: 300;
    font-size: 1.1em;
    margin-top: 0.75em;
    line-height: 1.5em;
  }
}

.hero-box {
  background-image: url('/images/coffee-apple-iphone-laptop.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, $darkTurquoise, $medTurquoise 20%, $medTurquoise);
    opacity: 0.85;
    z-index: -1;
  }

  h1 {
    font-weight: 400;
  }

  header {
    background-color: transparent;
  }

  section {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    padding-bottom: 200px;
    color: #FFF;
    text-align: center;
    min-height: 500px;
    padding-top: 80px;

    p {
      font-size: 1.75em;
      text-align: center;
      margin-top: 0.5em;
    }
  }
}

nav {
  font-weight: 300;
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &>li {
      display: inline;
      margin-left: 16px;
    }
  }
}

#expertise {
  margin-top: -172px;
  position: relative;
  z-index: 1;
}

.expert-area {
  padding: 40px 0;
  text-align: center;
  background-color: #FFF;
  box-shadow: 5px 15px 42px 3px rgba(15, 97, 119, 0.1);

  & > .fa {
    font-size: 4em;
    margin-bottom: 20px;
    color: $medTurquoise;
  }
}

.alt-section {
  background-color: #1BBC9B;
  color: #FFF;

  h2 {
    color: #FFF;
  }
}
