@import 'bootstrap';

@import './fonts';
@import './variables';
@import './animation';

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

aside.overlay {
  background-color: $darkerGray;
  height: 100%;
  right: -200px;
  top: 0;
  position: absolute;
  width: 200px;
  z-index: 1000;
  display: none;

  a:not(.fa) {
    font-size: 24px;
    font-weight: 300;
    color: $white;
    transition: color 0.4s ease-in-out;
    display: block;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: none;
      outline: none;
      background-color: $highlight;
    }
  }
}

nav {
  visibility: hidden;
  clear: right;
  padding: 40px 0 0;

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
    padding: 0;
    text-align: right;
    transform: translateX(-250px);
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: slideOutRight;

    a {
      padding: 12px $headerPadding/2 12px 0;
    }
  }

  li.sub > ul {
    display: none;
    margin: 0;
    padding: 12px 0;
    width: 100%;

    & > li {
      a {
        font-size: 18px !important;
      }
    }
  }

  li.sub-open {
    ul {
      display: block;
    }
  }
}

body.menu-open {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  width: 100%;

  aside.overlay {
    right: 0;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: block;
  }

  nav {
    visibility: visible;

    li {
      animation-duration: 0.4s;
      animation-fill-mode: both;
      animation-name: slideInRight;
    }
  }
}

main {
  flex: 1 0 auto;
}

.wf-loading {
  h1,
  h2,
  h3,
  h4,
  p,
  i,
  li,
  span,
  a {
    opacity: 0;
  }
}

h1,
h2,
h3,
h4,
p,
i,
li,
span,
a {
  transition-property: 'opacity';
  transition-duration: 150ms;
  transition-timing-function: ease-in;
}

header {
  padding: 15px 0;
  color: #fff;
  background-color: $darkBrown;

  .container-fluid {
    padding-right: 0;
  }

  a {
    color: #fff;
    text-decoration: none;
    line-height: $headerHeight !important;

    &:hover,
    &:active {
      color: #fff;
    }
  }

  a.fa {
    font-size: $menuToggleSize;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  .brand {
    font-size: 1.2em;
    padding-left: $headerPadding / 2;
  }
}

.nav-header {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: $headerPadding / 2;

  a {
    color: #fff;
    text-decoration: none;
    line-height: $headerHeight;
  }

  a.fa {
    font-size: $menuToggleSize;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}

section,
article {
  padding: 40px 0;

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    font-weight: 300;
  }

  h1,
  h4 {
    text-align: center;
  }

  h2,
  h3,
  h4 {
    color: $nearBlack;
  }

  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 1.75em;
    text-align: center;
    margin-bottom: 40px;
  }

  h3 {
    font-size: 1.5em;
    margin-top: 40px;
  }

  h4 {
    font-size: 1.2em;
  }

  p {
    font-weight: 300;
    font-size: 1.2em;
    margin-top: 1em;
    line-height: 1.75em;
    color: $darkGray;
  }

  a {
    font-size: 1.2em;
    font-weight: 300;
    color: $medTurquoise;
  }

  a:hover,
  a:active {
    color: $lightTurquoise;
  }
}

article {
  h4 {
    text-align: left;
    margin-top: 40px;
    font-weight: 400;
  }

  ul {
    & > li {
      font-weight: 300;
      line-height: 1.75em;
    }
  }
}

.hero-box {
  background-image: url('/images/coffee-apple-iphone-laptop.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  min-width: 100%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $nearBlack;
    opacity: 0.85;
    z-index: -1;
  }

  h1 {
    font-weight: 400;
  }

  header {
    background-color: transparent;
    border: 0 none;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }

  section {
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    padding-bottom: 200px;
    color: #fff;
    text-align: center;
    min-height: 440px;
    padding: 50px 0 40px;

    p {
      font-size: 1.75em;
      text-align: center;
      margin-top: 0.5em;
      color: #fff;
      line-height: 1.5em;
    }
  }
}

#expertise {
  margin-top: -180px;
  margin-bottom: 0;
  padding-bottom: 40px;
  position: relative;
  z-index: 1;
}

.expert-area {
  padding: 40px 0;
  text-align: center;
  background-color: #fff;
  box-shadow: 5px 15px 42px 3px rgba(0, 0, 0, 0.1);

  & > .fa {
    font-size: 4em;
    margin-bottom: 20px;
    color: $highlight;
  }
}

.alt-section {
  background-color: #1bbc9b;
  color: #fff;

  h2 {
    color: #fff;
  }
}

.section-img {
  box-shadow: 5px 15px 42px 3px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin-top: 1.25em;
}

#work {
  h4 {
    text-align: left;
    font-weight: 400;
    line-height: 1.75em;
    font-size: 1em;
    margin-top: 0.75em;
  }
}

#contact {
  background-color: $lightGray;
  margin-bottom: 0;

  label {
    display: block;
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #e9e9e9;

    input,
    textarea {
      border: 0 none;
      outline: none;
      background-color: #fff;
      padding: 20px;
      width: 100%;
      transition: all 0.2s ease-in-out;
      font-size: 18px;
      font-weight: 300;
      color: $medGray;

      @each $pseudo in $placeholderPseudos {
        &#{$pseudo} {
          font-weight: 300;
          transition: all 0.2s ease-in-out;
        }
      }

      &:focus,
      &.filled {
        padding-top: 30px;
        padding-bottom: 10px;

        & + span {
          opacity: 1;
          top: 0px;
        }

        @each $pseudo in $placeholderPseudos {
          &#{$pseudo} {
            opacity: 0;
          }
        }
      }
    }

    textarea {
      height: 200px;
    }

    span {
      display: block;
      color: $lightTurquoise;
      font-weight: 300;
      font-size: 14px;
      position: absolute;
      top: 0;
      left: 20px;
      right: 20px;
      background-color: #fff;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      padding: 10px 0 5px;
    }
  }

  input[type='submit'] {
    width: 100%;
    padding: 15px;
    color: #fff;
    background-color: $lightGreen;
    border: 0 none;
    border-radius: 0;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: $darkGreen;
    }
  }
}

footer {
  .footer-content {
    padding: 40px 0 20px;
    text-align: center;
  }

  .copyright {
    padding: 20px 0 40px;

    p {
      margin: 0;
      line-height: 1.6em;
      text-align: center;
      color: $medGray;
      font-weight: 300;
      font-size: 0.7em;
    }
  }

  .social {
    .social-icon-box {
      margin: 0;
      padding: 0;

      a {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: $lightTurquoise;
        color: #fff;
        display: block;
        text-align: center;
        text-decoration: none;
        margin: 0 auto;

        &:hover,
        &:active {
          text-decoration: none;
        }
      }

      i {
        font-size: 1.5em;
        line-height: 50px;
      }
    }
  }
}

@import './responsive';
