    <footer>
      <div class="footer-content">
        <div class="container">
          <div class="row">
            <div class="social col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
              <div class="col-xs-3 social-icon-box">
                <a href="https://github.com/crallen" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
              </div>
              <div class="col-xs-3 social-icon-box">
                <a href="https://twitter.com/crallen" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
              </div>
              <div class="col-xs-3 social-icon-box">
                <a href="https://www.facebook.com/crallend" target="_blank">
                  <i class="fa fa-facebook"></i>
                </a>
              </div>
              <div class="col-xs-3 social-icon-box">
                <a href="https://www.linkedin.com/in/christopherallen/" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <p>All third parties and trademarks used herein are owned by their respective owners.</p>
          <p>AmeriCommerce and Spark Online Store are properties of Capital One N.A.</p>
          <p>&copy;<span id="copyright-year"></span> Christopher R. Allen | All Rights Reserved</p>
        </div>
      </div>
    </footer>
    <script src="/js/vendor.js"></script>
    <script src="/js/main.js"></script>
    <script>
    if(window.location.hostname.indexOf('chrisallen.codes') > -1) {
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-100432822-1', 'auto');
      ga('send', 'pageview');
    }
    </script>
  </body>
</html>
