<aside class="overlay">
  <div class="d-flex flex-row justify-content-end nav-header">
    <a href="#" class="fa fa-times menu-close"></a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/#about">About Me</a>
      </li>
      <li>
        <a href="/#contact">Contact Me</a>
      </li>
      <li class="sub">
        <a href="#">Projects</a>
        <ul>
          <li>
            <a href="/projects/capital-one">Capital One</a>
          </li>
          <li>
            <a href="/projects/americommerce">AmeriCommerce</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>